{% include 'index.html'%}
{% block content %}
  <div class="container">
      {% if records %}
        {%for rec in records %}
        <div class="alert alert-info">
            Bus ID: {{rec.f_id}} <br>
            Src: {{rec.src}} <br>
            Dest: {{rec.dest}} <br>
            Fare: {{rec.fare}}
        </div>
        {%endfor%}
      {%endif%}
  </div>
{% endblock %}
