{%include 'index.html'%}

{% block content%}
  {% if booking_confirmed %}
    {% for i in details %}
    <p>Booking ID: {{i.booking_id}}</p>
    <p>Flight id: {{i.f_id}}</p>
    <p>Online Payment: {{i.payment}}</p>
    <p>No od Passengers: {{i.no_of_pass}}</p>
    <p>No of childrens: {{i.chilld_pass}}</p>
    {%endfor%}

  {%endif%}

{%endblock%}
