{% include 'index.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form method="post" action="{%url 'booking'%}{{f_id}}">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Flight Booking</label>
          <input type="text" class="form-control" name="flight_booking" value="{{f_id}}">
        </div>
        <div class="form-group">
          <label for="no_of_audlts">No of Passangers</label>
          <select class="form-control" name="no_of_audlts">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="no_of_childs"> No of Childrens</label>
          <select class="form-control" name="no_of_childs">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Booking ID</label>
          <input class="form-control" name="booking_id" value="{{booking_id}}"></input>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Payment Type</label>
          <input class="form-control" name="payment" value="{{payment}}"></input>
        </div>
        <div class="form-group">
          <button type="submit" name="button" class="btn btn-primary btn-block">Submit</button>
        </div>
      </form>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-6">
            <p> {{fare}} </p>
            Total <p id="total"> </p>
          </div>
        </div>

      </div>
  </div>
</div>

{% endblock%}
