{% include 'index.html'%}
{% block content %}
  <div class="container">
      {% if records %}
        <div class="row">
        {%for rec in records %}
        <div class="col-md-6">
          <div class="alert alert-info">
              Flight ID: {{rec.f_id}} <br>
              Src: {{rec.src}} <br>
              Dest: {{rec.dest}} <br>
              Fare: {{rec.fare}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <a class="btn btn-primary" type="submit" href="{%url 'booking'%}{{rec.f_id}}">Book</a>
          </div>
        </div>
        {%endfor%}
        </div>
      {%endif%}
  </div>
{% endblock %}
